{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>
        {% block header %}
        Título da Página
        {% endblock %}
    </h1>

    <table border="1">
        <thead>
            <tr>
                <th>Tarefas</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% block content %}
                    Conteúdo da Tabela
                    {% endblock %}
                </td>
                <td>
                    {% if user.is_authenticated %}
                        {{ user.username }} 
                    {% else %}
                        Usuário não autenticado
                    {% endif %}
                </td>
            </tr>
        
    </table>

</body>
</html>