{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>
        {% block header %}
        Título da Página
        {% endblock %}
    </h1>

    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Sair</button>
        </form>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Tarefas</th>
                <th>Usuário {% if user.is_authenticated %} - {{ user.username }} {% else %} (Não autenticado) {% endif %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% block content %}
                    Conteúdo da Tabela
                    {% endblock %}
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
