{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>
        {% block header %}
        Título da Página
        {% endblock %}
    </h1>

    <table>
        <thead>
            <tr>
                <th>Tarefas</th>
                <th>
                    <div class="user-header">
                        <span>Usuário: </span>
                        {% if user.is_authenticated %}
                            <span class="username">{{ user.username }}</span>
                            <form action="{% url 'logout' %}" method="post" class="logout-form">
                                {% csrf_token %}
                                <button type="submit" class="logout-btn">Sair</button>
                            </form>
                        {% else %}
                            <span>(Não autenticado)</span>
                        {% endif %}
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% block content %}
                    Conteúdo da Tabela
                    {% endblock %}
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
