body{
    background-color: rgb(253, 253, 253);
}
h1{
    text-align: center;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}
th, td {
    padding: 10px; 
    text-align:justify; 
}
.logout-btn {
    background-color: gray; 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
}